/* Resetando aparência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variaveis */

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);	
    font-family: 'Roboto', sans-serif;
    --hue: 240;
    --bg-button: hsl(var(--hue), 9%, 89%);
    --bg-button-selected: hsl(var(--hue), 45%, 55%);
}

/* Acessibilidade para leitor de tela */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Posicionando Elementos */

body {
    font-size: 1.6rem;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 2rem;
}

#app {
    display: flex;
    align-items: center;
    gap: 7rem;
    padding: 2rem;
}

#sounds {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
}


/* Estilizando Elementos */

#timer {
    font-weight: bold;
    font-size: 10rem;

}

#controls {

    display: flex;
    justify-content: space-between;
    

}

#controls button {

    font-size: 4.8rem;
    border: none;
    background-color: transparent;


}

#controls button:hover{
    transform: scale(1.2);
}



#sounds button {

    border: none;
    background: var(--bg-button);
    border-radius: 2.4rem;
    padding: 2rem 1.5rem;
    font-size: 5rem;

}

#sounds button:hover {

    background-color: var(--bg-button-selected);
    color: white;
    transform: scale(1.2)
}


#sounds .secondary{ 
    background-color: var(--bg-button-selected);
    color: white;
}

button:hover {
    cursor: pointer;
}


/* Animações */



/* Responsividade */

@media (max-width: 700px) {
    #app {
        flex-direction: column;
    }
}