body {
    margin: 0; 
    background: #2C2B3D;
    
}

.page {
    width: 1092px;
    margin: 0 auto;
    padding: 70px;


}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

}

ul li a {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;

}

ul li a:hover{
    font-weight: bold;
}

h1 {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;

}

h1 span {
    color: #00BFA6;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    width: 604px;
    text-align: center;
}

p span {
    color: #00BFA6;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#line {
    width: 568px;
    height: 0;
    border: 1px solid #00BFA6;
    margin: 0 auto 27px;
}

footer {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    height: 55px;
    margin-top: 141px;
    margin-bottom: 23px;
   
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}

#lock {
    position: fixed;
    left: 20px;
    bottom: 20px
}
